.calculatorFrame {
  margin: 20px auto;
  height: 80vh;
  max-width: 30vw;
  border: 0.3rem solid rgb(0, 0, 0);
}
@media (max-width: 767px) {
  .calculatorFrame {
    max-width: 90vw;
    height: 90vh;
  }
}
.calculatorNumberNow {
  width: 95%;
  margin: 10px auto;
  background: rgb(247, 245, 245);
  height: 5rem;
}
.calculatorNumbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 0.8rem;
}
.calculatorNumbers div {
  border: 0.5px solid rgb(150, 248, 255);
}
.calculatorNumbers div:hover {
  background: black;
  color: white;
  border-radius: 0 11px 0 0;
  cursor: pointer;
}
.calculatorExpressions {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.calculatorExpressions div {
  font-size: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 300ms ease-in-out;
  border: 0.5px solid rgb(220, 225, 226);
  margin: 2px 0;
}
.calculatorExpressions div:hover {
  background: cyan;
  color: white;
  cursor: pointer;
  transform: scale(0.98);
}
.calculatorExpressions div:active {
  background: rgb(0, 0, 0);
  color: black;
}
.calculatorNumbersAndExpressionsContainer {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  grid-gap: 1rem;
}
.warnColor {
  background: var(--color-yellow-orange);
}

.clearButton {
  width: 5rem;
  width: 95%;

  margin: 0 auto;
  border-radius: 5px;
  height: 2rem;
  background: var(--color-yellow-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.clearButton:hover,
.clearButton button {
  cursor: pointer;
}
.clearButton button {
  background: none;
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.zero {
  color: red;
  padding: 0.5rem;
}
.randomButton {
  color: white;
}
