:root {
  --color-yellow-orange: #ffa630;
  --color-tea-green: #d7e8ba;
  --color-cadet-blue: #4da1a9;
  --color-y-in-min-blue: #2e5077;
  --color-old-mauve: #611c35;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
